In [1]:
import pandas as pd
import os
from DataLoad_Utils.TS_DataLoader import load_from_tsfile_to_dataframe, sort_timeseries
from DataLoad_Utils.TS_DataLoader import process_data
from DataLoad_Utils.My_Datautils import (Draw_Visiual_Multi_Feature_With_ZNormalization,
                                         Draw_Visiual_Single_Feature_Each_Picture,
                                         load_UCR, remove_after_dot, Draw_Visiual_Single_Feature, plot_features_with_selector, read_tsf_file,
                                         PACF_Visual)
from DataLoad_Utils.TSF_DataLoader import convert_tsf_to_dataframea_array
import numpy as np

In [2]:
# data_dir = 'datasets/monash_datasets/bitcoin_dataset_with_missing_values/bitcoin_dataset_with_missing_values.tsf'
# data_dir = 'datasets/monash_datasets/australian_electricity_demand_dataset/australian_electricity_demand_dataset.tsf'
# data_dir = 'datasets/TSER-Monash_UEA_UCR_Regression_Archive/AppliancesEnergy/AppliancesEnergy_TEST.ts'
data_dir = 'datasets/TSER-Monash_UEA_UCR_Regression_Archive/AustraliaRainfall/AustraliaRainfall_TEST.ts'
# data_dir = 'DiatomSizeReduction'
# data_dir = 'datasets/data/Kaggle/DailyDelhiClimateTest.csv'
# data_dir = 'datasets/ETT-small/ETTh1.csv'
# data_dir = 'datasets/data/energydata_complete.csv'

In [3]:
file_type = None
if '/' in data_dir:
    ## parameters
    file_name = os.path.basename(data_dir)
    result_dir,file_type = remove_after_dot(data_dir)   #截取文件夹路径和文件类型
else:   # UCR 自己有一个读取函数
    file_name = data_dir
    result_dir = "UCR/" + file_name

json_dir = result_dir
# 保存图的路径
result_dir = 'Result/' + result_dir

print("file_type: ", file_type)
print("file_name: ", file_name)
print("result_dir: ", result_dir)

file_type:  ts
file_name:  AustraliaRainfall_TEST.ts
result_dir:  Result/datasets/TSER-Monash_UEA_UCR_Regression_Archive/AustraliaRainfall/AustraliaRainfall_TEST

In [4]:

parameters = dict()
parameters['Save_OR_Not'] = True    # 是否保存结果图
parameters['cut_OR_Not'] = True     # 是否对特征列过长的数据进行截断
parameters['cut_length'] = 30       # 截断长度
parameters['CDF_OR_Not'] = False    # 是否显示CDF图
parameters['file_name'] = file_name # 数据集名称（单独）

In [5]:
from DataLoad_Utils.TS_DataLoader import convert_to_time_series

if file_type == 'tsf':  # monash_datasets
    # df= read_tsf_file(data_dir)
    df,_, _, _, _  = convert_tsf_to_dataframea_array(data_dir)
    # df,_, _, _, _  = convert_tsf_to_dataframe(data_dir)
elif file_type == 'ts':     # TSER-Monash_UEA_UCR_Regression_Archive
    # # set data folder, train & test
    # data_folder = data_dir + file_name + "/"
    # train_file = data_folder + file_name + "_TRAIN.ts"
    # test_file = data_folder + file_name + "_TEST.ts"
    test_file = data_dir
    module = "RegressionExperiment"
    # loading the data. X_train and X_test are dataframe of N x n_dim
    print("[{}] Loading data".format(module))
    X_train, y_train = load_from_tsfile_to_dataframe(test_file)
    X_test, y_test = load_from_tsfile_to_dataframe(test_file)
    df = X_train
    df['dim_train'] = y_train
    df = sort_timeseries(df)

elif file_type == 'csv' or file_type == 'txt':
    df = pd.read_csv(data_dir)
elif '/' not in data_dir:
    df,_ = load_UCR(data_dir)
else:
    raise ValueError('Invalid file type')

[RegressionExperiment] Loading data

48097it [00:01, 33382.83it/s]
48097it [00:01, 32437.46it/s]

In [6]:
df
# X_test
# y_train

         Index  dim_0  dim_1  dim_2  dim_train
0            0   20.0   21.5   19.9        0.0
1            1   21.2   21.5   20.9        0.0
2            2   21.0   21.2   20.4        0.0
3            3   20.5   20.8   20.0        0.0
4            4   20.2   20.2   18.8        0.0
...        ...    ...    ...    ...        ...
1153939     19   10.7   11.5    9.5        0.0
1153940     20    9.6    9.6    7.7        0.0
1153941     21    7.9    8.0    6.5        0.0
1153942     22    7.1    7.3    6.0        0.0
1153943     23    6.6    6.7    5.0        0.0

[1153944 rows x 5 columns]